[submodule "foundrySimpleStorage/lib/forge-std"]
	path = foundrySimpleStorage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundryFundMe/lib/forge-std"]
	path = foundryFundMe/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundryFundMe/lib/chainlink-brownie-contracts"]
	path = foundryFundMe/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
